bin/
obj/
AppBlocker.Tests.csproj
AppBlocker.csproj
AppBlocker.sln
time_frame_to_block.txt
random_words.txt
user_files_to_block.txt
AppBlockerWinForms.csproj
AppBlockerWinForms.csproj.user
Form1.resx
.vs
