obj/
bin/Debug/net9.0/
random_words.txt
user_files_to_block.txt
time_frame_to_block.txt
AppBlocker.sln
AppBlocker.csproj
UnitTesting/AppBlocker.Tests/bin
AppBlocker.Tests.csproj
UnitTesting.csproj
.editorconfig
